<div class="container row shadow m-auto">
    <div class="col-md-6 mt-4 mb-3">
        <h3>Adres</h3><br />
        <div style="position:relative;overflow:hidden;"><a href="https://yandex.com.tr/harita/115709/esenler/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Esenler</a><a href="https://yandex.com.tr/harita/115709/esenler/?ll=28.893739%2C41.029946&utm_medium=mapframe&utm_source=maps&z=17.05" style="color:#eee;font-size:12px;position:absolute;top:14px;">Esenler — Yandex Haritalar</a><iframe src="https://yandex.com.tr/map-widget/v1/-/CCUJEOdV~A" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        <br />
        <address>
            <br />
            <p><i class="fas fa-map-marker-alt pr-1"></i><i> Yıldız Teknik Üniversitesi</i></p>
            <p><i> Esenler / İstanbul</i></p>
        </address>
    </div>

    <div class="col-md-6  mt-4 mb-3">
        <h3>İletişim</h3>
        <br />
        <p><i class="fas fa-phone pr-2"></i> +90 (555) 222 22 22 </p>
        <p><i class="fas fa-at pr-2"></i><a href="serhan__orhan@hotmail.com">serhan__orhan@hotmail.com</a></p>
        <p><i class="fa-brands fa-github pr-2"></i> <a href="https://github.com/SerhanOrhan" style="text-decoration: none;">Serhan ORHAN</a>  </p>
    </div>
</div>