<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
    <div class="container">
        <a class="navbar-brand fw-bolder nav-logo-context" asp-area="" asp-controller="Home" asp-action="Index">ENUYGUN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Otobüs Bileti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="AdminList">Admin List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">İletişim</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link fw-bolder" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        ...
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <div class="notification-icon pe-5">
                <i class="fa-regular fa-xl fa-bell"></i>
            </div>
            <div>
                <div class="nav-item dropdown w-75 h-75">
                    <a class="nav-link fw-bolder dropdown-toggle flag-dropdown" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="w-50 h-50" src="~/img/flag-for-turkey-svgrepo-com.svg" alt="">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#"><img class="w-25 h-25" src="~/img/flag-for-turkey-svgrepo-com.svg" alt=""><span class="p-1">Türkçe</span></a></li>
                        <li><a class="dropdown-item" href="#"><img class="w-25 h-25" src="~/img/united-kingdom.png" alt=""><span class="p-1">English</span></a></li>
                    </ul>
                </div>

            </div>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Üye Ol</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
